<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/seller_style.css">
    <title>Seller Login</title>
</head>
<body>
    <div class="login-container">
        <h1>Seller Login</h1>
        <form class="login-form" action="/seller_login" method="post">
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <div class="register-link">
            <p>Don't have an account? <a href="/seller_register">Register</a></p>
        </div>
    </div>
    
    <!-- JavaScript para validação -->
    <script src="/static/seller_login.js"></script>
</body>
</html>